

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 角色管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/easyweb/assets/libs/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/admin/style/admin.css" media="all">
  <script src="/static/js/jquery.js"></script>
  <style>
    .layui-table-cell{
      height:60px;
      line-height:60px;
    }
    .layui-table img{
      height: 60px;
      width: 60px;
    }
    .shuxin{
      margin: 0 20px;
      color: #0e0e0e;
    }
    .shuxin1{
      margin: 0 20px;
      color: #fb0b03;
    }
  </style>
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <div class="layui-form toolbar">
        <div class="layui-form-item">
          <div class="layui-inline">
            <input id="edtSearch" class="layui-input" type="text" placeholder="请输入订单号"/>
          </div>
          <div class="layui-inline">
            <button id="btnSearch" class="layui-btn icon-btn layui-btn-sm"><i class="layui-icon">&#xe615;</i>搜索</button>
          </div>
        </div>
      </div>

      <table class="layui-table" id="userTable" lay-filter="userTable"></table>
    </div>
  </div>
</div>
<!-- js部分 -->
<script type="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
<script type="text/javascript" src="/easyweb/assets//js/common.js?v=304"></script>
<script type="text/javascript" src="/easyweb/assets/libs/jquery/jquery-3.2.1.min.js"></script>
<script>
  layui.use(['layer', 'form', 'table', 'util', 'admin', 'formSelects'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var table = layui.table;
    var util = layui.util;
    var admin = layui.admin;
    var formSelects = layui.formSelects;
    // 渲染表格
    var insTb = table.render({
      elem: '#userTable',
      url: "{:url('carry/retaillists')}",
      page: true,
      cellMinWidth: 100,
      cols: [[
        {field: 'id',align:"center",title:"id"},
        {field: 'title', title: '分销商',align:"center",templet:function(e){
          if(e.retail!=null){
            return e.retail.name
          }else{
            return '无'
          }
          }},
        {field: 'order_sn', title: '订单号',align:"center"},
        {field: 'order_amount', title: '支付金额',align:"center"},
        {field: 'carrymoney', title: '应付金额',align:"center"},
        { title: '支付宝昵称',align:"center",templet:function(e){
            if(e.retail!=null){
              return e.retail.names
            }else{
              return '无'
            }
          }},
        { title: '支付宝账号',align:"center",templet:function(e){
            if(e.retail!=null){
              return e.retail.alipay
            }else{
              return '无'
            }
          }},
        {field: 'add_time', title: '下单时间',align:"center"},
      ]]
    });

    // 搜索
    $('#btnSearch').click(function () {
      var value = $('#edtSearch').val();
      insTb.reload({where: { key: value}});
    });
  });
</script>
</body>
</html>

