

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/style/admin.css" media="all">
    <script src="/static/js/jquery.js"></script>
    <style>
        .layui-table-cell{
            height:60px;
            line-height:60px;
        }
        .layui-table img{
            height: 60px;
            width: 60px;
        }
        .shuxin{
            margin: 0 20px;
            color: #0e0e0e;
        }
        .shuxin1{
            margin: 0 20px;
            color: #fb0b03;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
            </div>

            <table id="list" lay-filter="list"></table>
            <script type="text/html" id="img">
                <img src="{{d.imgs}}"  lay-event="showimg" alt="图片丢失">
            </script>
            <script type="text/html" id="display">
                <a class="{{#  if(d.is_show == 0){ }}shuxin{{#  } else { }}shuxin1{{#  } }}" onclick="changeTable('jifen_class','id','{{d.id}}','is_show',this)">显示</a>
            </script>
            <script type="text/html" id="action">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
<script src="__ADMIN__/layui/layui.js"></script>
<script src="__ADMIN__/js/app.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        ,hhtc: 'hhtc'
    }).use(['index', 'table','laydate','hhtc'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,laydate= layui.laydate
            ,hhtc=layui.hhtc;
        var cols=[[
            {field: 'id', width: 80, title: 'ID', sort: true}
            ,{field: 'order',align: 'center', title: '排序', sort: true}
            ,{field: 'name',align: 'center', title: '名称'}
            ,{align: 'center', title: '状态',toolbar: '#display'}
            ,{title: '操作', align: 'center', fixed: 'right', toolbar: '#action'}
        ]];
        //加载数据
        base_table(table,'list','/admin/commodity/commodity_jifen_class',cols);
        table.on('tool(list)',function(obj){
            var data=obj.data;
            if(obj.event=='del'){
                layer.confirm('确定删除此分类？', function(index){
                    var post_json={id:data.id};
                    hhtc.ajax('{:url("commodity/commodity_jifen_del")}',post_json,function(res){
                        if(res.code==1){
                            layer.msg(res.msg,{icon:1},function(){
                                table.reload('list');
                                layer.close(index);
                            })
                        }else{
                            layer.alert(res.msg,{icon:2});
                        }
                    })
                });
            }else if(obj.event=='edit'){
                layer.open({
                    type: 2
                    ,title: '编辑分类'
                    ,content: '/admin/commodity/commodity_jifen_edit/id/'+data.id
                    ,area: ['40%', '40%']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find("#edit");
                        //监听提交
                        iframeWindow.layui.form.on('submit(edit)', function(data){
                            hhtc.ajax("{:url('commodity/commodity_jifen_edit')}",data.field,function(res){
                                if(res.code==1){
                                    layer.msg(res.msg,{icon:1},function(){
                                        table.reload('list');
                                        layer.close(index); //关闭弹层
                                    })
                                }else{
                                    layer.alert(res.msg,{icon:2});
                                }
                            })
                        });
                        submit.trigger('click');
                    }
                });
            }else if(obj.event='showimg'){
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 1,
                    shadeClose: true,
                    area:['768px','304px'],
                    content: '<img width="100%" src="'+data.imgs+'">'
                });
            }
        })
        //事件
        var active = {
            add: function(){
                layer.open({
                    type: 2
                    ,title: '添加视频分类'
                    ,content: "{:url('commodity/commodity_jifen_add')}"
                    ,area: ['40%', '40%']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find("#add");
                        //监听提交
                        iframeWindow.layui.form.on('submit(add)', function(data){
                            var field = data.field; //获取提交的字段
                            hhtc.ajax("{:url('commodity/commodity_jifen_add')}",data.field,function(res){
                                if(res.code==1){
                                    layer.msg(res.msg,{icon:1},function(){
                                        table.reload('list');
                                        layer.close(index); //关闭弹层
                                    })
                                }else{
                                    layer.alert(res.msg,{icon:2});
                                }
                            })
                        });
                        submit.trigger('click');
                    }
                });
            },
            upload:function(){
                hhtc.upload_one(function(img){
                    layer.msg('图片路径为:'+img)
                });
            },
            uploads:function(){
                hhtc.upload_more(function(img){
                    var str='选择了'+img.length+'张图片;路径分别为:<br>';
                    for(i=0;i<img.length;i++){
                        str+=img[i]+'<br>';
                    }
                    layer.alert(str)
                });
            }
        }
        $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>
<script>
    function  changeTable(table,id_name,id_value,field,obj){
        var src = "";
        if($(obj).hasClass('shuxin')) // 图片点击是否操作
        {
            $(obj).removeClass('shuxin').addClass('shuxin1');
            var value = 1;
        }else if($(obj).hasClass('shuxin1')){ // 图片点击是否操作
            $(obj).removeClass('shuxin1').addClass('shuxin');
            var value = 0;
        }else{ // 其他输入框操作
            var value = $(obj).val();
        }
        $.ajax({
            url:"changeTableVal?table="+table+'&id='+id_name+'&id_value='+id_value+'&field='+field+'&value='+value,
        });

    }

</script>
</body>
</html>

